@layer components {
  .btn {
    transition: 0.4s ease;
    @apply inline-block
    w-fit
    m-0 py-4 px-5
    uppercase
    leading-none
    tracking-widest
    border-2 border-solid border-accent
    font-semibold bg-accent text-dark;
  }
  .btn.alt {
    @apply bg-transparent text-accent;
  }
  .btn.sm {
    @apply py-2 px-3;
  }
  .btn:hover {
    @apply bg-white text-dark border-white;
  }
}
