html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
}

body {
  background-color: var(--bg);
  color: var(--text);
  @apply transition-colors duration-200 ease-in-out text-white;
}

.overlay {
  @apply flex w-full h-full left-0 top-0 p-20;
  background: rgba(0, 0, 0, 0.5);
}
