@layer base {
  .wrapper {
    min-height: 100vh;
    @apply mx-auto flex justify-center items-start flex-col max-w-screen-xl md:px-10;
  }

  main {
    @apply flex flex-col flex-auto w-full mx-auto;
  }
}
